@import "../../../assets/scss/variables";

.course-item {
    width: calc(33.3333333333% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 3rem;

    .course-item-inner {
        width: 100%;
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 2px 0 $light-gray;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.25s ease;

        .course-thumbnail {
            width: 100%;
            height: 20rem;
            cursor: pointer;

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
            }
        }

        .course-item-body {
            height: calc(100% - 20rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .course-item-heading {
                
                .course-name-title {
                    margin: 1rem 0;
                    cursor: pointer;

                    h2 {
                        padding: 0 1.5rem;
                        
                        span {
                            font-size: 2rem;
                            font-weight: 700;
                            text-align: left;
                            word-break: break-word;
                            line-height: 1.45;
                            color: $dark;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                        }
                    }
                }

                .course-desc {
                    font-size: 1.35rem;
                    line-height: 1.45;
                    word-break: break-word;
                    color: $gray;
                    text-align: justify;
                    padding: 0 1.5rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }

            .course-info-bottom {
                padding: 2rem 0 1.5rem 0;
                position: relative;

                .participants-count {
                    padding-left: 1.5rem;

                    .icon {
                        color: $icon-color;
                        font-size: 1.6rem;
                        margin-right: 1rem;
                    }

                    .text {
                        font-size: 1.2rem;
                        color: $gray-dark;
                    }
                }

                .course-item-pop-up {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: translateY(5rem);
                    transition: all 0.25s ease-in-out;

                    .btn-enroll-to {
                        flex: 1;
                        text-align: center;
                        background-color: $pink;
                        color: #fff;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 0 5px 20px 0 $light-pink;
            transform: translateY(-5px);
            .course-item-body {
                .course-info-bottom {
                    .course-item-pop-up {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}