@import "../../assets/scss/variables";

.course-general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: transparent;

    .maximize {
        position: absolute;
        top: 2%;
        right: 100%;
        z-index: 0;
        background-color: red;
        border-radius: 10px 0 0 10px;
        background-color: $light-gray;
        opacity: 1;
        visibility: visible;
        transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        
        .btn-maximize {
            padding: 1.25rem 2.5rem 1.25rem 1.5rem;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            background-color: transparent;
            outline: none;

            .icon {
                color: $icon-color;
                font-size: 2rem;
            }
        }
    }

    .maximize.hide {
        visibility: hidden;
        opacity: 0;
    }

    .info {
        width: calc(100% - 3rem);
        padding: 1.5rem 0 1.5rem 1rem;

        .course-name-in-detail-page {
            font-size: 1.3rem;
            text-transform: uppercase;
            word-break: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .course-process {
            padding-top: 0.5rem;
            font-size: 1.25rem;
            line-height: 1.25;
        }
    }

    .minimize {
        width: 3rem;
        text-align: center;

        .btn-minimize {
            border: 0;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            cursor: pointer;

            .icon {
                color: $icon-color;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: $light-gray;
            }
        }
    }

    .progress-estimate {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        background-color: $light-green;
    }
}

.course-general-info[data-width="1"] .progress-estimate {
    width: 10%;
}
.course-general-info[data-width="2"] .progress-estimate {
    width: 20%;
}
.course-general-info[data-width="3"] .progress-estimate {
    width: 30%;
}
.course-general-info[data-width="4"] .progress-estimate {
    width: 40%;
}
.course-general-info[data-width="5"] .progress-estimate {
    width: 50%;
}
.course-general-info[data-width="6"] .progress-estimate {
    width: 60%;
}
.course-general-info[data-width="7"] .progress-estimate {
    width: 70%;
}
.course-general-info[data-width="8"] .progress-estimate {
    width: 80%;
}
.course-general-info[data-width="9"] .progress-estimate {
    width: 90%;
}
.course-general-info[data-width="10"] .progress-estimate  {
    width: 100%;
}