@import "../../assets/scss/variables";

.register-section {
    margin-top: -5rem;

    .logo-fluid {
        text-align: center;
        padding: 2rem;
        transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
        box-shadow: 0 -3px 15px 0 $light-pink;
        height: 10rem;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        .title {
    
            .link {
                display: inline-block;
                line-height: 5rem;
                color: $pink;
                font-size: 2.45rem;
                transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
                white-space: nowrap;
                font-weight: bolder;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                position: relative;
            }
        }

        &:hover {
            box-shadow: 0 0 15px $light-pink;
        }

        .logo-float {
            position: absolute;
            transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
            transform: translateY(60px);

            .title {
                .link-float {
                    display: inline-block;
                    line-height: 5rem;
                    color: $pink;
                    font-size: 2.45rem;
                    transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
                    white-space: nowrap;
                    font-weight: bolder;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    position: relative;
                }
                span {
                    margin: 0 0 0 1rem;
                }
            }
        }
    }

    .logo-fluid.minimize {
        height: 5rem;

        .title {
            .link {
                font-size: 2rem;
                transform: translateY(-70px);
            }
        }

        .logo-float {
            transform: translateY(0);
        }
    }

    .container {
        max-width: 100%;
        width: calc(1024px + 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 19rem auto;
        position: relative;
        z-index: 1;
        
        .centered-box {
            margin: 3rem auto 8rem;
            max-width: 100%;
            width: 398px;
            border: 0.5px solid $light-pink;
            border-top: 0;
            border-bottom: 0;
            padding: 0 2rem 1rem 2rem;

            .heading {
                padding: 1rem 0 3rem 0;
                text-align: center;

                .title {
                    font-size: 2.2rem;

                }
            }

            .form-register {

                .form {

                    .form-control-wrap {
                        display: flex;
                        margin-bottom: 2rem;

                        .form-control {
                            flex: 1;
                            outline: none;
                            border: 0.5px solid $light-gray;
                            padding: 1rem;
                            border-radius: 10px;
                            font-size: 1.5rem;
                            transition: all 0.15s ease;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                            &:focus {
                                border-color: $pink;
                            }
                        }

                        .btn-login {
                            flex: 1;
                            background-color: $pink;
                            border-radius: 10px;
                            color: #fff;
                            font-size: 1.5rem;
                            letter-spacing: 1px;
                        }
                    }
                }
            }

            .register-options {
                margin-bottom: 3.5rem;

                .tips {
                    margin-bottom: 2.5rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .icon {
                        margin-right: 1.5rem;
                        font-size: 2rem;
                        color: $green;
                    }

                    .paragraph {
                        padding-bottom: 0;
                        font-size: 1.4rem;
                        line-height: 1.45;
                        color: #999;
                    }
                }

                .btn-fluid {
                    display: flex;
                    
                    &+.btn-fluid {
                        margin-top: 2rem;
                    }

                    .btn-register {
                        flex: 1;
                        background-color: #fff;
                        border-radius: 10px;
                        border: 0.5px solid $pink;
                        color: $pink;
                        font-size: 1.3rem;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .img-logo {
                            margin-right: 1rem;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }

            .divider {
                margin-bottom: 2.5rem;
                text-align: center;
                color: #999;
                font-size: 1.4rem;
                position: relative;
                
                .text {
                    position: relative;
                    z-index: 3;
                    padding: 0 1rem;
                    background-color: #fff;

                    @media screen and (max-width: 333px) {
                        display: inline-block;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 0.5px;
                    background-color: #ccc;
                    
                }
            }
            
        }
    }
}