@import "../../assets/scss/variables";

.course-chapter {
    height: calc(100% - 6.7rem);

    .content-scrollable {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .chapter-list {

            .dropdown {

                .dropdown-header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #eee;
                    cursor: pointer;
                    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);

                    .left {
                        width: calc(100% - 3rem);
                        padding: 1.5rem 0 1.5rem 1rem;

                        .chapter-title {
                            font-size: 1.4rem;
                            font-weight: 700;
                        }

                        .chapter-count {
                            font-size: 1.3rem;
                            padding-top: 0.5rem;
                        }
                    }

                    .right {
                        width: 3rem;
                        text-align: center;
                        
                        .btn-drop {
                            border: 0;
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
    
                            .icon {
                                color: $icon-color;
                                font-size: 1.8rem;
                            }
    
                            &:hover {
                                background-color: $light-gray;
                            }
                        }
                    }

                    &:hover {
                        background-color: #ccc;
                    }
                }

                .dropdown-items {
                    cursor: pointer;
                    
                    .item {
                        padding: 1.2rem 0 1.2rem 1rem;
                        display: flex;
                        justify-content: flex-start;
                        transition: all 0.25s ease;

                        .indicator {
                            width: 3rem;
                            
                            .icon-wrap {

                                .icon {
                                    color: $icon-color;
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        .lesson {
                            width: calc(100% - 3rem);

                            .lesson-name {
                                font-size: 1.4rem;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            .lesson-time {
                                padding-top: 0.25rem;
                                font-size: 1.25rem;
                            }
                        }

                        &:hover {
                            background-color: $background-comment-item;
                        }
                    }

                    .item.disabled {
                        background-color: $light;
                        opacity: 0.4;
                    }

                    .item.active {
                        background-color: $light-pink;
                    }
                }
            }
        }
    }

    .content-scrollable::-webkit-scrollbar {
        width: 0.75rem;
    }
       
    .content-scrollable::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    
    .content-scrollable::-webkit-scrollbar-thumb {
        background-color: #ccc;
        outline: none;
        border-radius: 5px;
    }
}