.modal-loading-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.15s ease-in-out;
    opacity: 1;
    visibility: visible;
    
    .inner-modal-loading-fullscreen {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .img {
            width: 100%;
            height: 100%;
        }
    }
}

.modal-loading-fullscreen.hidden {
    opacity: 0;
    visibility: hidden;
}