@import "../../../../../assets/scss/variables";

.user-section-dropdown-box {
    position: absolute;
    top: 102%;
    right: 0;
    z-index: 3;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 $light-gray;
    background-color: #fff;
    display: none;

    .user-heading {
        padding: 1.5rem;

        .title {
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .user-list {
        padding: 0 0 1.5rem 0;

        .user-item {
            padding: 1rem 1.5rem;
            transition: all 0.15s ease;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;

            .icon {
                color: $icon-color;
                margin-right: 1rem;
                font-size: 1.6rem;
            }

            .text {
                font-size: 1.4rem;
                color: $dark;
            }

            &:hover {
                background-color: $light;
            }
        }
    }
}

.user-section-dropdown-box.active {
    display: block;
}