@import "../../assets/scss/variables";

.courses-introduction-section {

    .container {
        max-width: 100%;
        width: calc(1024px + 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;

        .col-9 {
            width: 66.6666666666666666666666%;
            padding-right: 1.5rem;
            padding-bottom: 3rem;

            @media screen and (max-width: 992px) {
                width: 100%;
                padding-right: 0;
            }
        }

        .col-3 {
            width: 33.3333333333333333333333%;
            padding-left: 1.5rem;
            padding-bottom: 3rem;

            @media screen and (max-width: 992px) {
                width: 0;
                padding-left: 0;
            }
        }
    }
}