@import "../../../assets/scss/variables";

.general {
    padding-bottom: 8rem;
    
    .paragraphs {
        margin: 2rem 0 3rem 0;

        p {
            line-height: 1.333;
            font-size: 1.5rem;
            color: $dark;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        
    }

    .comments-section {

        .comments-section-top {
            
            .comments-count {
                font-size: 1.6rem;
                font-weight: 700;
            }

        }

        .comment-adder {
            margin: 2rem 0 3rem 0;
            
            .form {
                display: flex;
                justify-content: flex-start;

                .avatar {
                    width: 3.9rem;
                    height: 3.9rem;
                    margin-right: 1rem;
                    
                    .avatar-img {
                        border-radius: 50%;
                        border: 1px solid $light-gray;
                        width: 3.9rem;
                        height: 3.9rem;
                        object-fit: cover;
                    }
                }

                .adder {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;

                    .comment-input {
                        width: 100%;
                        outline: none;
                        border-bottom: 1px solid $light-gray;
                        word-break: break-word;
                        font-size: 1.5rem;
                        line-height: 1.333;
                        padding: 0.5rem 0;
                        cursor: text;
                        position: relative;
                    }

                    [placeholder]:empty::before {
                        content: attr(placeholder);
                        color: #555; 
                    }
                    
                    [placeholder]:empty:focus::before {
                        content: "";
                    }
                }
            }

            .buttons {
                text-align: right;
                margin-top: 1rem;

                .btn-submit {
                    font-weight: 500;
                    background-color: $pink;
                    color: #fff;

                    &:active {
                        box-shadow: 0 0 5px 0 $pink;
                    }
                }

                .btn-submit.disabled {
                    pointer-events: none;
                    background-color: $light-gray;
                }

                .btn-cancel {
                    margin-right: 1rem;
                    color: $secondary;

                    &:hover {
                        background-color: $light;
                    }

                    &:active {
                        background-color: $light-gray;
                    }
                }

                .btn-cancel.disabled {
                    pointer-events: none;
                    color: $light-gray;
                }
            }
        }

        .comments-list {
            margin-top: 2rem;
            margin-bottom: 2rem;

            .comment-item {
                margin-bottom: 1.5rem;

                .comment-top {
                    display: flex;
                    justify-content: flex-start;

                    .avatar {
                        width: 3.9rem;
                        height: 3.9rem;
                        margin-right: 1rem;
                        
                        .avatar-img {
                            margin-top: 1rem;
                            border-radius: 50%;
                            border: 1px solid $light-gray;
                            width: 3.9rem;
                            height: 3.9rem;
                            object-fit: cover;
                        }
                    }

                    .comment-content {
                        width: calc(100% - 4.9rem);
                        background-color: $background-comment-item;
                        padding: 1rem 2rem 1rem 1.5rem;
                        border-radius: 2rem;

                        .commentator-name {
                            width: 100%;
                            font-weight: 700;
                            font-size: 1.35rem;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .comment-text {
                            margin-top: 0.5rem;
                            font-size: 1.45rem;
                            line-height: 1.333;
                            word-break: break-word;

                            div {
                                word-break: inherit;
                                line-height: inherit;
                            }
                        }
                    }
                }
                
                .comment-reactions {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 5rem;
                    margin-top: 0.4rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.3rem;
                    color: $gray-dark;

                    .react {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .like {
                        margin-right: 1rem;
                        padding-right: 1rem;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 100%;
                            transform: translate(-50%, -50%);
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background-color: $gray-dark;
                        }
                    }

                    .like.active {
                        color: $pink;
                        font-weight: 600;
                    }
                }

                .comment-show-reply {
                    margin-left: 4.9rem;
                    padding: 0.5rem 0;
                    font-size: 1.4rem;
                    cursor: pointer;

                    .icon {
                        margin-right: 1rem;
                        color: $icon-color;
                        transition: all 0.15s ease;
                    }

                    &:hover {

                        .icon {
                            transform: rotate(90deg);
                        }
                    }
                }

                .comment-show-reply.disabled {
                    display: none;
                }

                .comment-reply {
                    margin-top: 1.5rem;

                    .form {
                        margin-left: 4.9rem;
                        display: flex;
                        justify-content: flex-start;

                        .avatar {
                            width: 3.9rem;
                            height: 3.9rem;
                            margin-right: 1rem;
                            
                            .avatar-img {
                                border-radius: 50%;
                                border: 1px solid $light-gray;
                                width: 3.9rem;
                                height: 3.9rem;
                                object-fit: cover;
                            }
                        }

                        .adder {
                            width: 100%;
                            display: flex;
                            align-items: flex-end;

                            .comment-input {
                                width: 100%;
                                outline: none;
                                border-bottom: 1px solid $light-gray;
                                word-break: break-word;
                                font-size: 1.5rem;
                                line-height: 1.333;
                                padding: 0.5rem 0;
                                cursor: text;
                                position: relative;
                            }

                            [placeholder]:empty::before {
                                content: attr(placeholder);
                                color: #555; 
                            }
                            
                            [placeholder]:empty:focus::before {
                                content: "";
                            }
                        }
                    }

                    .buttons {
                        text-align: right;
                        margin-top: 1rem;

                        .btn-submit {
                            font-weight: 500;
                            background-color: $pink;
                            color: #fff;

                            &:active {
                                box-shadow: 0 0 5px 0 $pink;
                            }
                        }

                        .btn-submit.disabled {
                            pointer-events: none;
                            background-color: $light-gray;
                        }

                        .btn-cancel {
                            margin-right: 1rem;
                            color: $secondary;

                            &:hover {
                                background-color: $light;
                            }

                            &:active {
                                background-color: $light-gray;
                            }
                        }

                        .btn-cancel.disabled {
                            pointer-events: none;
                            color: $light-gray;
                        }
                    }
                }

                .comment-reply.disabled {
                    display: none;
                }

            }
        }

        .comments-notifs {
            text-align: center;

            .text {
                font-size: 1.4rem;
                color: $gray;
            }

            .btn-loadmore {
                font-size: 1.4rem;
                display: inline-block;
                border-radius: 10px;
                transition: all 0.15s ease;

                &:hover {
                    background-color: #eee;
                }
            }

            .btn-loadmore.disabled {
                cursor: default;
                pointer-events: none;
                color: $light-gray;
            }
        }
    }
}