.process-courses {
    width: 100%;
    padding: 4rem 0 100rem;
    color: #999;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;

    .icon {
        font-size: 3rem;
        margin-right: 1rem;
    }
}